In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('T10Y2Y.csv')

In [4]:
print(df.shape)
df.head()

(11437, 2)

         DATE T10Y2Y
0  1976-06-01   0.68
1  1976-06-02   0.71
2  1976-06-03   0.70
3  1976-06-04   0.77
4  1976-06-07   0.79

In [5]:
df.dtypes

DATE      object
T10Y2Y    object
dtype: object

In [28]:
df[df['T10Y2Y'] == '.']

            DATE T10Y2Y
24    1976-07-05      .
69    1976-09-06      .
94    1976-10-11      .
110   1976-11-02      .
117   1976-11-11      .
...          ...    ...
11347 2019-11-28      .
11366 2019-12-25      .
11371 2020-01-01      .
11384 2020-01-20      .
11404 2020-02-17      .

[482 rows x 2 columns]

In [25]:
def convert_yield(row):
    if row != '.':
        return float(row)
    else: 
        return 0.00

In [26]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['T10Y2Y'] = df['T10Y2Y'].map(lambda x: convert_yield(x))

ValueError: could not convert string to float: '-'

In [11]:
df.plot('DATE', 'T10Y2Y')

TypeError: no numeric data to plot