In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('COMPOUT.csv')

In [5]:
print(df.shape)
df.head()

(1004, 2)

         DATE      COMPOUT
0  2001-01-03  1587.918197
1  2001-01-10  1514.381262
2  2001-01-17  1512.427727
3  2001-01-24  1508.970480
4  2001-01-31  1501.212660